<div class="home__container">
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gameType="PS4 Digital"
    gamePrice="R$ 89,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel=""
    gameType="PS4 PS3"
    gamePrice="R$ 84,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel=""
    gameType="PS5 PS4"
    gamePrice="R$ 98,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Exclusive"
    gameType="PS5 PS4"
    gamePrice="R$ 164,90"
    ></app-card>

    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Exclusive"
    gameType="PS5 PS4 PS3"
    gamePrice="R$ 199,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Digital"
    gameType="PS4 Digital"
    gamePrice="R$ 129,90"
    ></app-card>
</div>